
gaerecords/_test/goweb.a

gaerecords/6.out

gaerecords/_gotest_.6

gaerecords/_testmain.6

gaerecords/_testmain.go

gaerecords/_test/gaerecords.a

gaerecords/_go_.6

gaerecords/_obj/gaerecords.a

.DS_Store
