<h2>Delete person</h2>
<form action="/people/{{PersonID}}?method=delete" method="post">
  <p>
    Are you sure you want to delete {{PersonName}}?
  </p>
  <p>
    <input type="submit" value="Delete"> or <a href="../{{PersonID}}">Cancel</a>
  </p>
</form>