<h2>
  <a href="/people">People</a> / Create a new person
</h2>
<form action="/people/create" method="post">
  <p>
    <label>
      Name: <input type="text" name="name">
    </label>
  </p>
  <p>
    <label>
      Age: <input type="text" name="age">
    </label>
  </p>
  <p>
    <input type="submit" value="Create"> or <a href="/people">Cancel</a>
  </p>
</form>