<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>gaerecords - Test web app</title>
</head>
<body>
  
  {{{content}}}
  
  <hr />
  
  <a href="https://github.com/matryer/gae-records" target="_blank">gae-records Project at GitHub.com</a> -
  <a href="http://goweb.googlecode.com/" target="_blank">Goweb</a> -
  <a href="/_ah/admin">Admin console</a>
  
</body>
</html>
