<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>gaerecords - Test web app</title>
</head>
<body>
  
  {{{content}}}
  
  <hr />
  
  <a href="/_ah/admin">Admin console</a>
  
</body>
</html>
